<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- it is a template  -->
    <title>Title</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            font-family: 'Century Schoolbook';
        }
        span {
            color: red;
        }
    </style>
</head>
<body>
{#
https://jinja.palletsprojects.com/en/3.0.x/templates/
{%    %} for Statements

{{    }} for Expressions to print to the template output

{#    # } for Comments not included in the template output
#}
<h1>The product name is <span>{{ productName }}</span></h1>
<h1>The product name is <span>{{ productName|length + 1}}</span></h1>
</body>
</html>